* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translateX(-50%); 
}

body{
    background-image: url(../img/1.jpg);
    background-size: 73vh;    
    background-position: bottom;
    position: relative;
    font-family: sans-serif;
}

.choosing{
    font-weight: 100;
}

.quiz-home{
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    font-size: 30px;
    margin-bottom: 10px;
}

#questionText{
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

h2{
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories button{
    width: 250px;
    padding: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: lightgreen;
    color: black;
}

/*QUESTIONS*/

.question-container{
    width: 100%;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

#option-list{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

#option-list .option{
    width: 300px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    color: black;

    font-size: 14px;
}

.answer{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    padding: 5px;
}

.next{
    position: absolute;
    top: 100%;
    left: 84%;
    transform: translateX(-50%);
    margin-top: 20px;
    height: 40px;
    width: 70px;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}

/*back button*/

.back{
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
    position: relative;
    bottom: 40px;
    left: 20px;
    background-color: #454545;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
}

.check{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

/*score*/

.scoreDisplay{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scoreText{
    font-size: 20px;
    text-align: center;
}

.motivationText{
    color: lightgreen;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

/*media queries*/

@media only screen and (max-width: 400px) and (max-height: 700px) {      /* iphone SE*/

    body{
        background-size: 73vh; 
    }

    .logo{
        top: 15px;
        width: 90px;
    }

    h1{
        font-size: 28px;
    }

    h2{
        font-size: 18px;
    }

    #questionText{
        font-size: 23px
    }

    #option-list .option{
        font-size: 13px;
    }

}

@media only screen and (min-height: 701px) and (max-height: 850px) {

    body{
        background-size: 68vh;
    }

    .logo{
        width: 120px;
        top: 40px;
    } 

}

@media only screen and (min-height: 851px) and (max-height: 950px) {

    body{
        background-size: 68vh;
    }

    .logo{
        width: 130px;
        top: 60px;
    } 

}